{
	email {$ACME_EMAIL:admin@frozenclaw.com}
}

(frozenclaw_app) {
	encode zstd gzip

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	import /etc/caddy/customers.d/*.caddy

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

http://{$IP_SITE_ADDRESS:46.225.143.215} {
	redir https://{$CANONICAL_HOST:frozenclaw.com}{uri} permanent
}

{$CANONICAL_HOST:frozenclaw.com} {
	import frozenclaw_app
}

www.{$CANONICAL_HOST:frozenclaw.com} {
	redir https://{$CANONICAL_HOST:frozenclaw.com}{uri} permanent
}
